/* Document
   ========================================================================== */

html, body, div, span, applet, object, rtc, 
bdi,rp, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, data,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,wbr,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
font: inherit;
Line-height: 1.2em;
vertical-align: baseline;
text-decoration: none;

}



/* End hide from IE-mac */
.clearfix:after {
 content: ".";
 display: block;
 height: 0;
 clear: both;
 visibility: hidden;
}

.clearfix { /* HACK_IE_LTE_7: IE 7 and below don't support the :after pseudo-element (above).
*/

display: block;
 *zoom: 1;
}
.fLeft {
 float: left;
}
.fRight {
 float: right;
}
/* Sections
   ========================================================================== */


.justify-txt{text-align: justify;}

h1 {
  font-size: 2em;
  margin: 0.67em 0;

}



hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; 
  overflow: visible; 
}




pre {
  font-family: monospace, monospace;
  font-size: 1em; 
}

/* Text-level semantics
   ========================================================================== */


a {
  background-color: transparent;
  color:0189b3;
}




abbr[title] {
  border-bottom: none;
  text-decoration: underline; 
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; 
}
abbr[title]:hover {
 cursor: help;
} 
abbr[title]:hover::after {
 cursor: help;
 display:block;
} 



b,
strong {
  font-weight: bolder;
}



code,
kbd,
samp {
  font-family: monospace, monospace; 
  font-size: 1em;
}



small {
  font-size: 80%;
}



sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

iframe,object[type^="text/"],
object[type$="+xml"],object[type="application/xml"]
{
  overflow:auto;
  resize:both;
}

img {
  border-style: none;
}

/* Forms
   ========================================================================== */


button,
input,
optgroup,
select,
textarea {
  font-family: inherit; 
  font-size: 100%; 
  line-height: 1.15; 
  margin: 0; 
}



button,
input { 
  overflow: visible;
}


button,
select { 
  text-transform: none;
}


button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}


button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}



fieldset {
  padding: 0.35em 0.75em 0.625em;
}


legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit; 
  display: table; 
  max-width: 100%; 
  padding: 0; 
  white-space: normal; 
}

progress {
  vertical-align: baseline;
}


textarea {
  overflow: auto;
}


[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; 
  padding: 0;
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}



[type="search"] {
  -webkit-appearance: textfield; 
  outline-offset: -2px; 
}



[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; 
}

/* Interactive
   ========================================================================== */

details {
  display: block;
}


summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary, 
audio,
canvas,
progress,
video {
  display: inline-block; 
  vertical-align: baseline;
}
pergola {
	-ms-grid-column: 2;
	grid-column: 2; -ms-grid-row: 3; grid-row: 3; -ms-grid-column-align: center; justify-self: center; 
}
template {
  display: none;
}

[hidden] {
  display: none;
}